header {
    position: absolute;
    top: 10px;
    left: 10px;
}

header a {
    text-decoration: none;
    padding: 5px;
    border-radius: 15px;
    font-size: 15px;
    cursor: pointer;
    width: 70px;
    border: solid 1px #facf9f;
    color: #191b1d;
    background-color: #ff6123;
    transition: all 0.3s ease-in-out;
}

header a:hover {
    background-color: #facf9f;
    border: solid 1px #ff6123;
}

main {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(45deg, #ccc, #464646, #ccc);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80vw;
    height: 80vh;
    overflow-y: auto;
    max-width: 1200px;
    background-color: #191b1d;
    border-radius: 15px;
    border: solid 3px #ff6123;
    border-top: solid 25px #ff6123;
    position: relative;
    padding: 20px;
}

.container::-webkit-scrollbar {
    width: 8px;
}

.container::-webkit-scrollbar-track {
    background-color: #ff6123;
    border-radius: 0 0 10px 0;
}

.container::-webkit-scrollbar-thumb {
    background-color: #facf9f;
    border-radius: 20px;
}

.container::-webkit-scrollbar-thumb:hover {
    background-color: antiquewhite;
}

.container-content {
    width: 100%;
    height: 100%;
    border-radius: 0 0 10px 10px;
    box-sizing: border-box;
    background-color: #191b1d;
}

.window-buttons {
    position: absolute;
    top: -18px;
    left: 8px;
    display: flex;
    gap: 8px;
}

.window-buttons span {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
}

.firstball { background: #191b1d; }
.secondball { background: #191b1d; }
.thirdball { background: #191b1d; }

.navigation {
    width: 100%;
    height: 15%;
    display: flex;
}

.logo {
    width: 20%;
    height: 100%;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.title {
    display: flex;
    justify-content: end;
    align-items: end;
    padding: 10px;
    color: antiquewhite;
    width: 80%;
    margin: 10px;
    border-bottom: solid 2px antiquewhite; 
}

.content {
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form {
    width: 100%;
    max-width: 30rem;
}

.form label,
.form input,
.form textarea,
.form button {
    display: block;
    width: 100%;
}

.form label {
    color: antiquewhite;
    line-height: 1;
    margin-bottom: 0.3rem;
}

.form input,
.form textarea {
    font: inherit;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: solid 1px transparent;
    border-radius: 8px;
    transition: border-color, box-shadow 0.2s;
}

.form textarea {
    min-height: 13rem;
    resize: none;
}

.form input:hover,
.form input:focus,
.form textarea:hover,
.form textarea:focus {
    outline: none;
    border-color: #ff6123;
    box-shadow: 0 0 0 2px #ff6123;
}

.input-file {
    position: absolute;
    right: 999999999px;
}

.label-file {
    text-align: center;
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6123;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.label-file:hover {
    background-color: #facf9f;
    color: #191b1d;
}

.file-name {
    text-align: center;
    margin-bottom: 20px;
    color: antiquewhite;
    font-size: 14px;
}

.form button {
    display: block;
    padding: 1rem;
    background-color: #ff6123;
    color: #191b1d;
    font: inherit;
    text-transform: uppercase;
    border: solid 1px #facf9f;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.form button:hover,
.form button:focus {
    outline: none;
    background-color: #facf9f;
    border: solid 1px #ff6123;
}


/* Media Query */
@media (max-width: 830px) {
    .logo img {
        width: 60px;
        height: 60px;
    }

    .title h1 {
        font-size: 20px;
    }
}

@media (max-width: 1310px) {
    .form {
        max-width: 15rem;
    }
}