footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

div.subtitles {
    width: 100%; 
    overflow: hidden;
    display: flex;
    padding: 5px 0;
    position: relative;
    text-align: center;
}

div.scroll-content {
    display: flex;
    white-space: nowrap;
    width: max-content;
    animation: 30s slide infinite linear;
}

div.scroll-content p {
    font-size: 10px;
    margin-right: 0;
    padding-right: 150px;
    color: #facf9f;
}

div.scroll-content p span {
    color: #ff6123;
}

div.title {
    padding-left: 10px;
}

div.title p {
    font-size: 14px;
    color: #ff6123;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}